@using BTL.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<NhaDichVu>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "NhaDichVu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Thông tin các dịch vụ của nhà</h1>

<p>
    <a class="btn btn-primary" asp-action="ThemNhaDichVu">Thêm mới</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="table-danger">
                <th>
                    @Html.DisplayNameFor(model => model[0].GhiChu)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].MaDichVu)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].MaNha)
                </th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var item in Model)
            {
                i = i + 1;
                string cls = "table-info";
                if (i % 2 == 0)
                {
                    cls = "table-success";
                }
                <tr class="@cls">
                    <td>
                        @Html.DisplayFor(modelItem => item.GhiChu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaDichVu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaNha)
                    </td>
                    <td>
                        <a asp-action="SuaNhaDichVu" asp-route-id1="@item.MaNha" asp-route-id2="@item.MaDichVu">Sửa</a> |
                        <a asp-action="XoaNhaDichVu" asp-route-id="@item.MaNha">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="product__pagination" style="margin-top:30px">
        @Html.PagedListPager(Model, page=>Url.Action("NhaDichVu", new{page=page}))
    </div>
</div>
<style>
    .pagination li.active {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: #b66dff;
        border-color: #b66dff;
        color: #ffffff;
        font-weight: bold;
    }

    .pagination li {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: #ffffff;
        border-color: #ffffff;
        color: #000000;
        font-weight: bold;
    }
</style>
