@using BTL.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<ThongTinNha>
@{
    ViewData["Title"] = "ThongTinNha";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>ThongTinNha</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].MaNha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].DiaChiNha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].DienTich)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].GiaPhong)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].TienDien)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].TienNuoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].TienDatCoc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].TinhTrangThue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].AnhMinhHoa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].NgayDangTai)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].MoTaNha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].MaChuNhaNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].MaDtsdNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].MaLoaiNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].MaMdsdNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaNha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChiNha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DienTich)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GiaPhong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TienDien)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TienNuoc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TienDatCoc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TinhTrangThue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnhMinhHoa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayDangTai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoTaNha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaChuNhaNavigation.MaChuNha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaDtsdNavigation.MaDtsd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaLoaiNavigation.MaLoai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaMdsdNavigation.MaMdsd)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MaNha">Sửa</a> |
                        <a asp-action="Delete" asp-route-id="@item.MaNha">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="product__pagination">
        @Html.PagedListPager(Model, page=>Url.Action("ThongTinNha", new{page=page}))
    </div>
</div>

<style>
    .pagination li.active {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: #b66dff;
        border-color: #b66dff;
        color: #ffffff;
        font-weight: bold;
    }

    .pagination li {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: #ffffff;
        border-color: #ffffff;
        color: #000000;
        font-weight: bold;
    }
</style>
