@model ViewModelSearch

<!--/ Form Search Star /-->
<div class="box-collapse">
        <div class="title-box-d">
            <h3 class="title-d">Tìm Kiếm Nhà</h3>
        </div>
        <span class="close-box-collapse right-boxed bi bi-x"></span>
        <div class="box-collapse-wrap form">
            <form class="form-a">
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <div class="form-group">
                            <label class="pb-2" for="Type">Tìm Kiếm</label>
                            <input type="text" class="form-control form-control-lg form-control-a" placeholder="Tìm kiếm">
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="Type">Loại Nhà</label>
                            <select class="form-control form-select form-control-a" id="Type">
                                <option>--Chọn loại nhà--</option>
                                @foreach (var item in Model.LoaiNhaList)
                                {
                                    <option value="@item.MaLoai">@item.TenLoai</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="address">Địa Chỉ</label>
                            <select class="form-control form-select form-control-a" id="address">
                                <option>--Chọn địa chỉ nhà--</option>
                                @foreach (var item in Model.DiaChiNhaList)
                                {
                                    <option value="@item">@item</option>
                                }                              
                            </select>
                        </div>
                    </div>
                   
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="object">Đối Tượng Sử Dụng</label>
                            <select class="form-control form-select form-control-a" id="object">
                                <option>--Chọn đối tượng sử dụng--</option>
                                @foreach(var item in Model.DoiTuongSuDungList)
                                {
                                    <option value="@item.MaDtsd">@item.TenDtsd</option>
                                }
                        </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="area">Diện Tích</label>
                            <select class="form-control form-select form-control-a" id="area">
                            <option>--Chọn diện tích nhà--</option>
                                <option>Dưới 50m2</option>
                                <option>50m2 - 100m2</option>
                                <option>100m2 - 150m2</option>
                                <option>150m2 - 200m2</option>
                                <option>200m2 - 250m2</option>
                                <option>250m2 - 300m2</option>
                                <option>Trên 300m2</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="purpose">Mục Đích Sử Dụng</label>
                            <select class="form-control form-select form-control-a" id="purpose">
                            <option>--Chọn mục đích sử dụng--</option>
                                @foreach (var item in Model.MucDichSuDungList)
                                {
                                    <option value="@item.MaMdsd">@item.TenMdsd</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-2">
                        <div class="form-group mt-3">
                            <label class="pb-2" for="price">Giá Cả</label>
                            <select class="form-control form-select form-control-a" id="price">
                                <option>--Chọn giá nhà--</option>
                                <option>Dưới 2 triệu</option>
                                <option>2 - 5 triệu</option>
                                <option>5 - 7 triệu</option>
                                <option>7 - 10 triệu</option>
                                <option>10 - 15 triệu</option>
                                <option>15 - 20 triệu</option>
                                <option>Trên 20 triệu</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-b">Tìm kiếm</button>
                    </div>
                </div>
            </form>
        </div>
</div>
<!-- End Property Search Section -->

<!-- ======= Header/Navbar ======= -->
<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <a class="navbar-brand text-brand" asp-controller="Home" asp-action="Index">Nhóm<span class="color-b"> 11</span></a>

        <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link " asp-controller="Home" asp-action="Index">Trang chủ</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " asp-controller="House" asp-action="Index">Thông tin nhà</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " asp-controller="Host" asp-action="Index">Chủ nhà</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " asp-controller="Contact" asp-action="Index">Liên hệ</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " asp-controller="About" asp-action="Index">Về chúng tôi</a>
                </li>
            </ul>
        </div>

        <button type="button" class="btn btn-b-n navbar-toggle-box navbar-toggle-box-collapse" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
            <i class="bi bi-search"></i>
        </button>

    </div>
</nav>
<!-- End Header/Navbar -->